mixin alarm-item(time, level, alarmId)
	if (level == "easy")
		a.a-list.col-xs-4.form-group.easy-level
			.half-border
			button.btn.btn-primary.btn-lg #{time}
			label.switch
				input(type="checkbox", checked)
				span.slider.round
			form#delForm(action="/alarm/delete", method="post")
				button.hide-close-button(type="submit", name="alarmId", value=alarmId)
					i.glyphicon.glyphicon-remove
	else if (level == "medium")
		a.a-list.col-xs-4.form-group.medium-level
			.half-border
			button.btn.btn-primary.btn-lg #{time}
			label.switch
				input(type="checkbox", checked)
				span.slider.round
			form#delForm(action="/alarm/delete", method="post")
				button.hide-close-button(type="submit", name="alarmId", value=alarmId)
					i.glyphicon.glyphicon-remove
	else
		a.a-list.col-xs-4.form-group.hard-level
			.half-border
			button.btn.btn-primary.btn-lg #{time}
			label.switch
				input(type="checkbox", checked)
				span.slider.round
			form#delForm(action="/alarm/delete", method="post")
				button.hide-close-button(type="submit", name="alarmId", value=alarmId)
					i.glyphicon.glyphicon-remove